@media (min-width: 1024px) {
  .product-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 30px;
  }

  .product-box {
    min-width: calc(75% - 15px);
  }
}
