.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 30px;
  padding: 30px 15px;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
}

.service-item {
  min-width: 190px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.service-icon {
  color: var(--salmon-pink);
  transition: var(--transition-timing);
}

.service-item:hover .service-icon {
  color: var(--eerie-black);
}

.service-title {
  color: var(--sonic-silver);
  font-size: var(--fs-7);
  font-weight: var(--weight-600);
  text-transform: capitalize;
  margin-bottom: 5px;
}

.service-desc {
  color: var(--sonic-silver);
  font-size: var(--fs-9);
}

@media (min-width: 1024px) {
  .service {
    width: 100%;
  }

  .service-container {
    gap: 0;
  }

  .service-item {
    flex-direction: column;
    text-align: center;
    min-width: 20%;
  }
}

@media (min-width: 1200px) {
  .service {
    min-width: calc(25% - 20px);
    width: calc(25% - 20px);
  }

  .service-container {
    justify-content: flex-start;
    gap: 16px;
    padding: 30px;
  }

  .service-item {
    flex-direction: row;
    text-align: left;
  }
}
