.header-top,
.header-user-actions {
  display: none;
}

.header-main {
  padding: 20px 0;
  border-bottom: 1px solid var(--cultured);
}

.header-logo {
  margin-bottom: 20px;
}

.header-logo img {
  margin: auto;
}

.header-search-container {
  position: relative;
}

.header-search-container .search-field {
  font-size: var(--fs-7);
  color: var(--onyx);
  padding: 10px 15px;
  padding-right: 50px;
  border: 1px solid var(--cultured);
  border-radius: 30px;
}

.search-field::-webkit-search-cancel-button {
  display: none;
}

.search-btn {
  background: var(--white);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
  color: var(--onyx);
  padding: 8px 15px;
  transition: color var(--transition-timing);
}

.search-btn:hover {
  color: var(--salmon-pink);
}
